{% extends 'base.html.twig' %}
{% block body %}
    {% include "navbar.html.twig" %}
    <div class="container text-center">
        <div class="jumbotron">
            <a href="{{ path('Admin.addVille') }}" class="btn btn-success">Ajouter une ville</a>
            <a href="{{ path('Admin.addPhoto') }}" class="btn btn-danger">Ajouter des lieux</a>
        </div>
    </div>
{% endblock %}